<script>
	import { Monitor as MonitorApi, Evdev, Libvirt } from "./lib/API"
	import Monitor from "./Monitor.svelte"
	import MonitorInfo from "./MonitorInfo.svelte"
	
	let data = undefined
	let power = undefined
	let input = undefined
	let powers = []
	let inputs = []
	
	let l = Libvirt.get()
	l.listen()
	l.on("stats", x => {
		data = x
	})
	
	let m = MonitorApi.get()
	m.listen()
	m.on("update", ({power: p, input: i}) => {
		console.log(p, i)
		power = p
		input = i
	})
	m.on("config", (ps, is) => {
		powers = ps
		inputs = is
	})

	let ev = Evdev.get()
	
</script>

<main>
	<!-- {#if !data}
	<p>...waiting</p>
	{:else}
	<h1>Hello World!</h1>
	<pre>{JSON.stringify(data, undefined, 2)}</pre>
	{/if}
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p> -->
	<section class="twogrid">
		<Monitor>
			<MonitorInfo {input} {power}></MonitorInfo>
		</Monitor>
		<div class="justified">
				<h3>monitor input:</h3>
				<div class="controls">
					{#each inputs as input}
					<button on:click={() => m.switchInput(input)}>{input}</button>
					{/each}
				</div>
				<h3>monitor power:</h3>
				<div class="controls">
					{#each powers as power}
					<button on:click={() => m.setPower(power)}>{power}</button>
					{/each}
				</div>
				<div/>
				<button on:click={() => ev.toggle()}>switch evdev</button>
		</div>
	</section>
</main>

<style>
	.twogrid {
		display: grid;
		grid-template-columns: 1fr 1fr;

		gap: 48px;
	}
	
	.justified {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-content: center;
		gap: 16px;
	}

	.controls {
		display: flex;
		gap: 16px;
	}
	
	main {
		padding: 1em;
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
	}
	
	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}
	
	@media (max-width: 640px) {
		main {
			padding: 1em;
		}

		.twogrid {
			grid-template-columns: 1fr;
		}
	}
</style>