<script>
    export let power = undefined
    export let input = undefined
    
    let bgcolor
    let fgcolor
    $: {
        switch (power) {
            case "on":
                bgcolor = "green"
                fgcolor = "white"
                break;
            case "off":
                bgcolor = "black"
                fgcolor = "white"
                break;
            case "sleep":
                bgcolor = "orange"
                fgcolor = "white"
                break;
            
            default:
                bgcolor = "blue"
                fgcolor = "white"
                break;
        }
    }
</script>

<div class="bg" style="background: {bgcolor}; color: {fgcolor};">
    {#if power === "off"}
        <h1>OFF</h1>
    {:else if power === "sleep"}
        <h1>zzzZZZ</h1>
    {:else if power === "on"}
        <h2>ON</h2>
        <h1>{input === "dp" ? "DisplayPort" : "HDMI"}</h1>
    {/if}
</div>

<style>
    .bg {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    h1 {
		font-size: 3em;
		font-weight: 100;
	}

    h2 {
		font-size: 2em;
		font-weight: 100;
	}
</style>