<script>
	export let scale = 1;
</script>

<style>
    /* based on https://codepen.io/4dgaurav/pen/FqKmr */
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .monitor {
        max-width:515px;
        width: 100%;
        height: 300px;
        /* min-width: 300px; */
        border: solid 1em #333;
        border-radius:.5em;
    }
    .standtop {
        content:"";
        display:block;
        position:relative;
        background: #222;
        width: 150px;
        height: 50px;
    }
    .stand {
        content:"";
        display:block;
        position:relative;
        background:#333;
        border-top-left-radius:.5em;
        border-top-right-radius:.5em;
        width: 300px;
        height: 15px;
    }
</style>

<div style="transform: scale({scale})" class="wrapper">
    <div class="monitor">
        <slot></slot>
    </div>
    <div class="standtop"/>
    <div class="stand"/>
</div>